<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Caméras</title>
    <link rel="stylesheet" 
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
          
    <style>
        .disabled-btn {
            pointer-event: none;
            opacity: 0.5;
        }
        .etat-box {
            width: 20px;
            height: 20px;
            border-radius: 4px;
            display: inline-block;
        }
    </style>
</head>

<body class="p-3">
    
<div class="mb-3 d-flex gap-2">
    <a href="{{ url_for('index') }}" class="btn btn-secondary">
        <i class="fa fa-image"></i> Voir images
    </a>
</div>

<h2>Liste des caméras</h2>

<table class="table table-bordered table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <th>Adresse (DemiMac)</th>
            <th>Nom personnalisé</th>
            <th>Photos prises</th>
            <th>Etat</th>
        </tr>
    </thead>

    <tbody>
        {% for c in cameras %}
        <tr>
            <td>{{ c.mac }}</td>
            
            <td>
                <form method="POST" class="rename-form d-flex">
                    <input type="hidden" name="mac" value="{{ c.mac }}">
                    <input type="text" name="new_name" value="{{ c.name }}" class="form-control me-2 rename-input">
                    <button type="submit" class="btn btn-primary rename-btn disabled-btn">Modifier</button>
                </form>
    </td>

    <td>{{ c.count }}</td>
            
    <td class="text-center">

    {% if c.etat_time is none %}
        <div class="etat-box" style="background: gray;"></div>
        <div class="small text-muted">Aucun message</div>

    {% else %}
        <div class="etat-box"
             style="background: {{ 'green' if c.etat else 'red' }};">
        </div>
        <div class="small text-muted mt-1">
            {{ c.etat_time }}
        </div>
    {% endif %}

</td>
        {% endfor %}
    </tbody>
</table>

<script>
    // Active automatiquement le bouton "Modifier" quand un champ change
    document.querySelectorAll(".rename-form").forEach(form => {
        
        const input = form.querySelector(".rename-input");
        const button = form.querySelector(".rename-btn");

        // On garde la valeur initiale
        const original = input.value;

        input.addEventListener("input", () => {
            if (input.value.trim() !== original.trim()) {
                button.classList.remove("disabled-btn");
            } else {
                button.classList.add("disabled-btn");
            }
        });
    });
</script>

</body>
</html>
